DB_HOST=localhost
DB_PORT=3306
DB_NAME=robot_admin
DB_USER=robot
DB_PASSWORD=변경필요
MYSQL_ROOT_PASSWORD=변경필요

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=robot_admin
MONGO_COMMAND_COLLECTION=command_documents

ROS_DOMAIN_ID=0
